@import 'completed.scss';
@import 'pending.scss';
@import 'inprogress.scss';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    width: 100%;
}

.add-task{
    border: 1px solid darkcyan;
    background: lightblue;
    padding: 15px;
    height: auto;
    width: auto;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
    }
}

.loader{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

}

.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}