.inprogress-container{
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 75%;
    align-self: center;
    justify-content: space-between;

    h1{
        align-self: center;
    }
}